<p class="title is-5">
  Getting Started...
</p>
<p>
  To get started, add some users which you want to create on the <i>{{ session.authInfo.friendly }}</i> instance.
</p>

{% for contactType in contactTypes %}
<div class="navbar-menu">
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-arrowless button" href="/add-place?type={{ contactType.name }}&op=new">
      <span class="material-symbols-outlined">add</span> Add {{contactType.friendly}}
    </a>
    <div class="navbar-dropdown">
      <a class="navbar-item" href="/add-place?type={{ contactType.name }}&op=new">Create New</a>
      <a class="navbar-item" href="/add-place?type={{ contactType.name }}&op=replace">Replace Existing</a>
      <a class="navbar-item" href="/add-place?type={{ contactType.name }}&op=bulk">Upload from CSV</a>
      {% if contactType.can_assign_multiple %}
        <a class="navbar-item" href="/reassign?place_type={{ contactType.name }}">Reassign</a>
      {% endif %}
      <a class="navbar-item" href="/manage-hierarchy/move/{{ contactType.name }}">Move</a>
      <a class="navbar-item" href="/manage-hierarchy/merge/{{ contactType.name }}">Merge</a>
      <a class="navbar-item" href="/manage-hierarchy/delete/{{ contactType.name }}">Delete</a>
    </div>
  </div>
</div>
{% endfor %}