<div>
  <section class="section p-2">
    {% if error %}
      <div class="notification is-danger is-light">{{ error }}</div>
    {% endif %}
    {% if results.length > 0 %}
      <div class="notification is-success is-light">
        <strong>Found {{ results.length }} result(s). Select one to add</strong>
      </div>
    {% endif %}
  </section>
  {% for result in results %}
    <form
      hx-post="/place?op=new&type={{ contactType.name }}"
      hx-target="this"
      hx-swap="outerHTML"
      hx-encoding="application/x-www-form-urlencoded"
      autocomplete="off"
    >
      <section class="section p-2">
        <label class="box">
          <div class="is-vcentered is-mobile">
            {% for field in result.propertyValues %}
              <input name="{{ field.propertyType }}_{{ field.propertyName }}" value="{{ field.value }}" hidden>
              <div class="column">
                <div>
                  <strong>{{ field.friendlyName }}:</strong> {{ field.value }}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button class="button is-link" type="submit">Add</button>
            </div>
          </div>
        </label>
      </section>
    </form>
  {% endfor %}

  <div class="field is-grouped is-grouped-right p-2">
    <a
      href="/add-from-external-source?source_id={{source.id}}&type={{ contactType.name }}"
      id="cancel_btn"
      class="button"
      >Cancel</a
    >
  </div>
</div>

<script>
  document.querySelectorAll('form').forEach(function (form) {
    form.addEventListener('submit', function () {
      const cancelButton = document.getElementById('cancel_btn');
      cancelButton.setAttribute('disabled', 'true');
      cancelButton.addEventListener('click', function (event) {
        event.preventDefault();
      });

      document.querySelectorAll('button[type="submit"]').forEach(function (submitButton) {
        submitButton.disabled = true;
      });

      const clickedButton = form.querySelector('button[type="submit"]');
      if (clickedButton) {
        clickedButton.textContent = 'Adding...';
      }
    });
  });
</script>
