{% if error %}
  <div class="notification is-danger" style="margin: 0;">
    {{ error }}
  </div>
{% endif %}

{% if success %}
  <div data-success="true"></div>
{% endif %}

<input name="place_type" value="{{contactType.name}}" hidden />
<input name="op" value="{{op}}" hidden />

{% if confirm %}
  {% include "components/manage_hierarchy_warning" %}
{% endif %}

<div {% if confirm %}hidden{% endif %}>
  <section class="section is-small">
    <h1 class="subtitle">{{ sourceDescription }}</h1>
    {% for hierarchy in sourceHierarchy %}
      {% render 'components/search_input.liquid'
          op: op
          type: contactType.name
          hierarchy: hierarchy
          data: data
          required: hierarchy.required
          prefix: "source_"
      %}
    {% endfor %}
  </section>

  {% if destinationHierarchy.size > 0 %}
    <section class="section is-small">
      <h1 class="subtitle">{{ destinationDescription }}</h1>
      {% for hierarchy in destinationHierarchy %}
        {% render 'components/search_input.liquid'
            op: op
            type: contactType.name
            hierarchy: hierarchy
            data: data
            required: hierarchy.required
            prefix: "destination_"
        %}
      {% endfor %}
    </section>
  {% endif %}

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <button id="place_create_submit" class="button is-link">{{ op | capitalize }}</button>
    </div>
  </div>
</div>