<div id="create_form_parent" class="is-flex is-flex-direction-column is-align-items-center">
  <form
    autocomplete="off"
    hx-target="#create_form_parent"
    hx-swap="outerHTML"
    {% if show_place_form %}
      hx-post="/new?place_type={{contactType.name}}&contact={{contact_id}}"
    {% else %}
      hx-post="/new?place_type={{contactType.name}}"
    {% endif %}
    style="width: 38rem;"
  >
    <div>
      <h3 class="is-size-4">New {{ contactType.contact_friendly }}</h3>
    </div>
    <input name="place_type" value="{{contactType.name}}" hidden>

    <p>Contact details</p>
    <div class="p-2">
      {% for hierarchy in hierarchy %}
        {% if hierarchy.level != 0 %}
          {%
            render 'components/search_input.html',
            type: contactType.name,
            hierarchy: hierarchy,
            prefix: 'hierarchy_',
            data: data,
            disabled: show_place_form == true
          %}
        {% endif %}
      {% endfor %}
      {% for prop in contactType.contact_properties %}
        {%
          include "components/contact_type_property.html" prefix="contact_" prop=prop
          place_type=contactType.name
          disabled=show_place_form ==  true
        %}
      {% endfor %}
    </div>

    <div class="p-2 mt-4 mb-2" style="border-left: thick solid green;">
      <p>
        Click on the <span style="font-weight: bold;">+ Add</span> button below to add all the
        {{ contactType.friendly }}(s) that you want to assign to this user
      </p>
    </div>

    <div id="place_new_parent" class="mt-2">
      {% if show_place_form %}
        {% render 'new/place_form_fragment.liquid', contactType: contactType, data: data %}
      {% else %}
        {% render 'new/new_place_btn.liquid' with contactType.name as place_type %}
      {% endif %}
    </div>

    <div class="field mt-4 is-flex is-justify-content-space-between">
      <button
        class="button is-small"
        type="button"
        {% if show_place_form %}
          hx-post="/new?place_type={{contactType.name}}&contact={{contact_id}}&cont=1"
        {% else %}
          hx-post="/new?place_type={{contactType.name}}&cont=1"
        {% endif %}
      >
        Save and create another
      </button>
      <div class="control">
        <a href="/" class="button is-small is-danger is-light">Cancel</a>
        <button class="button is-small is-link">Save</button>
      </div>
    </div>
  </form>
</div>
