<div
  class="my-4"
  style="border: 1px solid #d3d3d3; border-radius: 4px; width: 100%;"
  hx-get="/new/table?contact={{places[0].contact.id}}"
  hx-swap="outerHTML"
  hx-trigger="sse:update-group"
>
  <div class="is-flex is-justify-content-space-between">
    <div class="p-2 mt-1">
      {% for contact_property in contactType.contact_properties %}
        {% if contact_property.type != 'generated' %}
          {% capture propertyName %}contact_{{ contact_property.property_name }}{% endcapture %}
          <p class="m-1">
            <span>
              <strong>{{ contact_property.friendly_name }}: </strong>
            </span>
            <span
              {% if places[0].validationErrors[propertyName] %}
                class="has-text-danger has-text-weight-semibold has-tooltip-arrow has-tooltipl-multiline"
                data-tooltip="{{ places[0].validationErrors[propertyName] | escape }}"
              {% endif %}
            >
              {{ places[0].contact.properties[contact_property.property_name] }}
            </span>
          </p>
        {% endif %}
      {% endfor %}
    </div>
    <div class="p-2 mt-1">
      {% if can_edit %}
        <a
          class="button is-small me-2"
          data-tooltip="Edit {{places[0].type.contact_friendly}}"
          href="/edit/contact/{{places[0].contact.id}}"
        >
          Edit
        </a>
      {% endif %}
      <a
        class="button is-small"
        data-tooltip="Add more {{places[0].type.friendly}}(s)"
        href="/new?place_type={{places[0].type.name}}&contact={{places[0].contact.id}}"
      >
        + Add
      </a>
    </div>
  </div>
  <table class="table is-fullwidth is-striped is-hoverable mb-1">
    <thead>
      <tr>
        {% for hierarchy in contactType.hierarchy %}
          {% if hierarchy.property_name != 'replacement' %}
            <th id="hierarchy_{{ hierarchy.property_name }}">{{ hierarchy.friendly_name }}</th>
          {% endif %}
        {% endfor %}
        {% for property in contactType.place_properties %}
          {% if property.type != 'generated' %}
            <th id="place_{{property.property_name}}">{{ property.friendly_name }}</th>
          {% endif %}
        {% endfor %}
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for place in places %}
        <tr id="{{place.id}}">
          {% for hierarchy in contactType.hierarchy %}
            {% if hierarchy.property_name != 'replacement' %}
              {% capture propertyName %}hierarchy_{{ hierarchy.property_name }}{% endcapture %}
              {%
                include "components/list_cell.html"
                propertyName=propertyName
                property=hierarchy
                values=place.hierarchyProperties
                linkTo=place.resolvedHierarchy[hierarchy.level]
                place=place
              %}
            {% endif %}
          {% endfor %}

          {% for property in contactType.place_properties %}
            {% if property.type != 'generated' %}
              {% capture propertyName %}place_{{ property.property_name }}{% endcapture %}
              {%
                include "components/list_cell.html"
                propertyName=propertyName
                property=property
                values=place.properties
                place=place
              %}
            {% endif %}
          {% endfor %}

          <td>
            <div class="is-flex is-justify-content-start is-align-items-center">
              {% capture tag_text %}{% if place.validationErrors == empty %}{{ place.state }}{% else %}invalid{% endif %}{% endcapture %}
              {% capture tag_class %}
                {% if place.state == 'failure' %}is-danger
                  {% elsif place.state == 'success' %}is-success
                  {% elsif place.validationErrors != empty %}is-warning
                {% endif %}
                {% if place.uploadError %}has-tooltip-arrow has-tooltipl-multiline{% endif %}
              {% endcapture %}
              <span
                class="tag is-info {{ tag_class }}"
                {% if place.uploadError %}
                  data-tooltip="{{ place.uploadError | escape }}"
                {% endif %}
              >
                {{ tag_text }}
              </span>

              {% if place.warnings != empty %}
                <span
                  class="material-symbols-outlined is-info has-tooltip-arrow has-tooltipl-multiline has-text-warning"
                  data-tooltip="{{ place.warnings | join: '\n' | escape }}"
                >
                  warning
                </span>
              {% endif %}
            </div>
          </td>
          <td>
            {% if place.creationDetails.password %}
              {% capture explanation %}Username: {{ place.creationDetails.username }} Password: {{ place.creationDetails.password }}{% endcapture %}
              <span
                class="has-tooltip-arrow has-tooltipl-multiline material-symbols-outlined"
                data-tooltip="{{ explanation | escape }}"
                onclick="navigator.clipboard.writeText(`{{ explanation | escape }}`);"
              >
                key
              </span>
            {% else %}
              <a href="/place/edit/{{place.id}}" data-tooltip="Edit">
                <span class="material-symbols-outlined">edit</span>
              </a>
              <a hx-post="/place/refresh/{{place.id}}" data-tooltip="Refresh" hx-target="this" hx-swap="none">
                <span class="material-symbols-outlined">refresh</span>
              </a>
              {% if place.validationErrors == empty %}
                <a hx-post="/place/upload/{{place.id}}" hx-target="this" hx-swap="none" data-tooltip="Upload">
                  <span class="material-symbols-outlined">upload</span>
                </a>
              {% endif %}
            {% endif %}
            <a
              class="material-symbols-outlined"
              data-tooltip="Forget"
              hx-post="/place/remove/{{place.id}}"
              hx-swap="none"
              >delete</a
            >
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
